# Linux settings for xxdiff

[diff]
	tool = xxdiff
[difftool]
	prompt = false
[merge]
	tool = xxdiff
[mergetool]
	prompt = false
[alias]
	diffdir = difftool --dir-diff

# macOS settings for [P4Merge](https://www.perforce.com/products/helix-core-apps/merge-diff-tool-p4merge)
# from https://apple.stackexchange.com/a/419269

#[diff]
#	tool = p4mergetool
#[difftool "p4mergetool"]
#	cmd = open -W -a p4merge.app --args \"$LOCAL\" \"$REMOTE\"
#	keepBackup = false
#	keepTemporaries = false
#	trustExitCode = false
#	prompt = false
#[merge]
#	tool = p4mergetool
#[mergetool "p4mergetool"]
#	cmd = open -W -a p4merge.app --args \"BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
#	keepBackup = false
#	trustExitCode = false
#	prompt = false
#[alias]
#	diffdir = difftool --dir-diff
